<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="viewportListenersService.isHandset$ | async"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="
      (viewportListenersService.isHandset$ | async) ? 'dialog' : 'navigation'
    "
    [mode]="(viewportListenersService.isHandset$ | async) ? 'over' : 'side'"
    [opened]="(viewportListenersService.isHandset$ | async) === false"
  >
    <mat-toolbar [color]="color" class="toolbar">
      @if (viewportListenersService.isHandset$ | async) {
      <button
        type="button"
        class="hamburger-button"
        aria-label="Close sidenav"
        mat-icon-button
        (click)="drawer.close()"
        (keyup.enter)="drawer.close()"
        tabindex="0"
      >
        <mat-icon aria-label="Side nav close icon">close</mat-icon>
      </button>
      }
      <div class="toolbar__content">
        <ng-container *ngTemplateOutlet="sidenavHeading"></ng-container>
      </div>
    </mat-toolbar>

    <mat-nav-list
      class="nav-list"
      [ngStyle]="{ backgroundColor: sidenavColor }"
    >
      <ng-container *ngTemplateOutlet="sidenavLinks"></ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [color]="color" class="toolbar">
      @if (viewportListenersService.isHandset$ | async) {
      <button
        type="button"
        class="hamburger-button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        (keyup.enter)="drawer.toggle()"
        tabindex="0"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }

      <div class="toolbar__content">
        <ng-container *ngTemplateOutlet="logo"></ng-container>
      </div>
    </mat-toolbar>

    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
