@use "src/scss/utils.scss" as *;

%sidenavLinkActionStyles {
  background-color: var(--color-primary-200);
  color: var(--contrast-color-primary-200);
  @include border-radius("md");
}

.sidenav {
  display: grid;
  align-content: space-between;
  padding: free-space("sm");
  min-height: 85vh;

  &__links {
    display: grid;
    gap: free-space("sm");
    font-size: var(--p);
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-primary-100);
    color: var(--contrast-color-primary-100);
    padding: free-space("xs");
    cursor: pointer;
    @include border-radius("xs");
    transition: border-radius 200ms ease-in-out,
      background-color 200ms ease-in-out;

    & > *:first-child {
      margin-right: free-space("xs");
    }

    &:is(:hover, :focus-visible) {
      @extend %sidenavLinkActionStyles;
    }

    &--active {
      @extend %sidenavLinkActionStyles;
      text-decoration: underline;
    }
  }
}
