@use "src/scss/utils.scss" as *;
main,
.content {
  display: grid;
  place-content: center;
}

.content {
  transform: translateY(-10px);
  margin: {
    left: free-space("sm");
    right: free-space("sm");
  }
}

.go-back-button {
  padding: free-space("xs") 0;
}

.form-label {
  margin-bottom: 0.25rem;
}
