.header {
  display: flex;
  position: relative;
  background-color: var(--color-300);
  height: 3.5rem;
}

.hamburger-menu {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.example-sidenav-container {
  height: 90vh;
}
