@if(data$ | async; as data){
<div class="form-wrapper" aria-label="The register form for a new user">
  <h1>Start the journey by creating account</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <fieldset class="form-element">
      <label>
        <p class="form-label">Name:</p>
        <input
          type="text"
          formControlName="name"
          autocomplete="name"
          [class.valid]="registerForm.get('name')?.valid"
        />
      </label>
      <p class="input-error">
        @if (getError('name', 'minlength')) { Too short name } @else if
        (getError('name', 'maxlength')) { Too long name } @else if
        (getError('name', 'includesSpecialChars')) { Special characters are not
        allowed here }
      </p>
    </fieldset>

    <fieldset class="form-element">
      <label>
        <p class="form-label">Email:</p>
        <input
          type="email"
          formControlName="email"
          autocomplete="email"
          [class.valid]="registerForm.get('email')?.valid"
        />
      </label>
      <p class="input-error">
        @if (getError('email', 'emailError')) { This is not an email }
      </p>
    </fieldset>

    <fieldset class="form-element">
      <label>
        <p class="form-label">Password:</p>
        <input
          type="password"
          formControlName="password"
          autocomplete="new-password"
          [class.valid]="registerForm.get('password')?.valid"
        />
      </label>
      <p class="input-error">
        @if (getError('password', 'passwordError')) { The password must have 8
        characters, numbers, and special characters }
      </p>
    </fieldset>

    <fieldset class="form-element">
      <label>
        <p class="form-label">Confirm Password:</p>
        <input
          type="password"
          formControlName="confirmPassword"
          autocomplete="new-password"
          [class.valid]="registerForm.get('confirmPassword')?.valid"
        />
      </label>
      <p class="input-error">
        @if(registerForm.get('confirmPassword'); as confirmPassword){
        <!--  -->
        @if (getError('confirmPassword', 'passwordMatch') &&
        (confirmPassword.touched || confirmPassword.dirty)) { The passwords are
        not the same }
        <!--  -->
        }
      </p>
    </fieldset>

    <button
      type="submit"
      class="submit-button"
      appCustomMatRipple
      [appMatSpinnerToggler]="registerForm.valid"
    >
      @if (data.sending) {
      <mat-spinner title="Sending data" class="sending-spinner"></mat-spinner>
      } @else { Register }
    </button>
    <p class="input-error" data-test="checkInputs||emailAlreadyInUse">
      @if (registerForm.hasError('checkInputs')) { Check the inputs above }
      @else if (data.errors.emailAlreadyInUse) { The email is already in use }
    </p>
  </form>
</div>

}
