@use "src/scss/components.scss" as *;

.content {
  transform: translateY(calc((-48.78px / 2)));
}

.verify {
  & a {
    @extend %common-button, %primary-button;
    justify-self: center;
    text-align: center;
    padding: 0.6em 1.25em;
  }
}

// .reset {
// }
