@if (environment==='note-creator') {
<h2>Create new notes</h2>
}

<form [formGroup]="newNoteGroupForm" class="form" (ngSubmit)="submitForm()">
  <label class="note-list-header-wrapper">
    <input
      data-test="note-list-title-input"
      class="note-list-header"
      type="text"
      placeholder="Note list title"
      formControlName="groupName"
    />
    @if (getError('groupName', 'required') &&
    newNoteGroupForm.get('groupName')?.touched) {
    <span data-test="note-list-title-error-required" class="input-error"
      >*This field is required!</span
    >
    }
    <!--  -->
    @if (getError('groupName', 'maxlength')) {
    <span data-test="note-list-title-error-maxlength" class="input-error"
      >Hmm... Please create a shorter list title</span
    >
    }
  </label>

  <mat-form-field class="note-list-elements" appearance="outline">
    <mat-label>Your items</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter what's on your mind">
      @for (note of notes; track note.id) {
      <mat-chip-row
        data-test-many="note-chip"
        attr.data-test="note-chip-{{ note.id }}"
        class="note-list-element"
        aria-description="Press enter to edit {{ note.value }}"
        #chipRow
        (edited)="handleNoteEvent({note, event: $event})"
        (removed)="removeNote.emit(note)"
        [editable]="true"
        [id]="note.id"
        appLongPress
        (longPress)="handleMobileEdit(note.id)"
      >
        {{ note.value }}
        <button
          type="button"
          matChipRemove
          [attr.aria-label]="'Remove ' + note.value"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
      <input
        matInput
        data-test="create-note-input"
        placeholder="New item"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorCodes"
        matChipInputAddOnBlur
        (matChipInputTokenEnd)="handleNoteEvent($event)"
      />
    </mat-chip-grid>
  </mat-form-field>

  @if(noteFormValidation.errorMessage$ | async; as errorMessage ){
  <small data-test="note-error-message" class="form-error">{{
    errorMessage.cause
  }}</small>
  }
  <!--  -->
  @if(environment==='note-creator' && notes.length){
  <button
    data-test="note-creator-submit-button"
    type="submit"
    class="submit-button"
  >
    <mat-icon>done</mat-icon>
  </button>
  }
</form>
