@use "src/scss/utils.scss" as *;

.sidenav {
  width: 200px;
  --mat-sidenav-container-divider-color: var(--color-accent-300);

  &-container {
    --mat-sidenav-content-background-color: var(--color-accent-50);
    --mat-sidenav-content-text-color: var(--contrast-color-accent-50);
  }
}

.nav-list {
  display: grid;
  align-content: stretch;
  height: calc(100% - var(--mat-toolbar-standard-height));

  @media (max-width: 599px) {
    height: calc(100% - var(--mat-toolbar-mobile-height));
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  padding: 0;
  display: flex;
  position: relative;

  &__content {
    @extend %fillBeforeAfter;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: grid;
    place-content: center;
  }
}
