@if (data$ | async; as data) {
<main>
  @if(!data.isHandset){
  <section class="create-new-noteList">
    <app-note-list-form
      environment="note-creator"
      [notes]="data.notesBuffer"
      (createNote)="onCreateNote($event)"
      (editNote)="onEditNote($event)"
      (removeNote)="onRemoveNote($event)"
      (data)="handleGroupCreation($event)"
    />
  </section>
  } @else {
  <h1>Notes</h1>
  }
  <section>
    @defer{
    <app-note-group-list-container>
      <ng-template #noElementsInfo>
        <div class="empty">
          <span> Whoops... It looks like you have no lists for now </span>
          <app-grinning-face-with-sweat-emoji class="emoji" />
        </div>
      </ng-template>
    </app-note-group-list-container>
    } @loading (minimum 500ms){
    <mat-spinner
      title="content loading"
      class="note-group-loading"
    ></mat-spinner>
    }
  </section>
  @if(data.isHandset){
  <section class="add-new-noteList">
    <div
      #mobileAddNoteGroupButton
      class="add-new-noteList__open-button"
      [class.add-new-noteList__open-button--toggled]="mobileFormVisible"
    >
      <button
        type="button"
        title="Add new note list"
        (click)="toggleNoteListForm('open')"
        appAdaptiveButton
        shape="circle"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    @defer {
    <app-bottom-sheet
      [open]="mobileFormVisible"
      (openChange)="toggleNoteListForm('close')"
    >
      <ng-template #content>
        <app-note-list-form
          environment="note-creator"
          [notes]="data.notesBuffer"
          (createNote)="onCreateNote($event)"
          (editNote)="onEditNote($event)"
          (removeNote)="onRemoveNote($event)"
          (data)="handleGroupCreation($event)"
        />
      </ng-template>
    </app-bottom-sheet>
    }
  </section>
  }
</main>
}
