<main>
  <section class="content">
    <div class="go-back-button-wrapper">
      <app-previous-page-button
        class="go-back-button"
        (clicked)="viewTransitionService.goBack(content, '/online')"
      />
    </div>
    <div
      class="form-wrapper"
      aria-label="A form for forgotten password"
      #content
    >
      <h1>Let's recover your account</h1>

      <form class="form" *ngIf="!emailSent; else success">
        <fieldset class="form-element">
          <label>
            <p class="form-label">Account's email</p>
            <input type="email" [formControl]="emailAddress" />
          </label>
          <p
            class="input-error"
            *ngIf="emailAddress.hasError('emailError') && emailAddress.dirty"
          >
            This is not an email, please check for a typo.
          </p>
        </fieldset>
        <button
          [appMatSpinnerToggler]="emailAddress.valid"
          (click)="checkEmail($event)"
          type="submit"
          class="submit-button"
          appCustomMatRipple
        >
          <ng-container *ngIf="emailSent; else buttonContent">
            <mat-spinner class="sending-spinner"></mat-spinner>
          </ng-container>
          <ng-template #buttonContent>Send email</ng-template>
        </button>
      </form>

      <ng-template #success>
        <div class="success">
          <p>
            The email with a reset link has been sent to your e-mail: <br />
            <strong>{{ emailAddress.getRawValue() }}</strong>
          </p>
        </div>
      </ng-template>
    </div>
  </section>
</main>
