<main>
  <section class="content">
    <div class="go-back-button-wrapper">
      <app-previous-page-button
        class="go-back-button"
        (clicked)="viewTransitionService.goBack(content, '/online')"
      />
    </div>
    <div
      class="form-wrapper"
      aria-label="A form for forgotten password"
      #content
    >
      <h1>Let's recover your account</h1>

      @if (!emailSent) {
      <form class="form">
        <fieldset class="form-element">
          <label>
            <p class="form-label">Account's email</p>
            <input type="email" [formControl]="emailAddress" />
          </label>
          @if (emailAddress.hasError('emailError') && emailAddress.dirty) {
          <p class="input-error">
            This is not an email, please check for a typo.
          </p>
          }
        </fieldset>
        <button
          [appMatSpinnerToggler]="emailAddress.valid"
          (click)="checkEmail($event)"
          type="submit"
          class="submit-button"
          appCustomMatRipple
        >
          @if (emailSent) {
          <mat-spinner class="sending-spinner"></mat-spinner>
          } @else { Send email }
        </button>
      </form>
      } @else {
      <div class="success">
        <p>
          The email with a reset link has been sent to your e-mail: <br />
          <strong>{{ emailAddress$ | async }}</strong>
        </p>
      </div>
      }
    </div>
  </section>
</main>
