@use 'src/scss/utils.scss' as *;
@use '../common-styles/chip-color.scss' as *;

:host {
  --container-size: max(240px, 25vw);
  --more-vert-icon-size: 48px;
}

@mixin theme-styles($bg-color) {
  --theme-background-color: #{$bg-color};

  &:has(.to-delete) .mat-mdc-menu-panel {
    --mat-menu-container-color: var(--theme-background-color) !important;
  }

  & .note-list-card.to-delete .chip {
    background-color: var(--theme-background-color) !important;
  }
}

@mixin standard-transition {
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.note-list-card {
  --to-delete-background: rgb(232, 232, 232);

  display: grid;
  gap: free-space('xs');
  padding: free-space('sm');
  @include border-radius('xs');
  background-color: var(--color-accent-100);
  cursor: pointer;
  @include standard-transition;

  &.to-delete {
    background-color: var(--to-delete-background);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

::ng-deep {
  .mat-mdc-standard-chip {
    & .mdc-evolution-chip__cell--primary {
      justify-content: center;
    }
  }

  .light {
    @include theme-styles(rgb(210, 210, 210));
  }

  .dark {
    @include theme-styles(rgb(105, 105, 105));

    & .note-list-card {
      --to-delete-background: rgb(65, 65, 65);
    }
  }
}

.chip {
  flex: 1 0 42px;
  @include standard-transition;

  &.do-not-grow {
    flex-grow: 0;
  }

  &-container {
    display: flex;
    align-items: center;
    gap: free-space('xs') calc(#{free-space('xs')} / 2);
    flex-wrap: wrap;
  }
}

h3 {
  width: 100%;
  max-width: calc(
    var(--container-size) -
      (2 * #{free-space('sm')} + var(--more-vert-icon-size))
  );
  -webkit-user-select: none;
  user-select: none;
  color: var(--contrast-color-accent-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}
