<div
  data-test="note-list-card"
  class="note-list-card"
  [class.to-delete]="done"
  (click)="onCardClick($event)"
  (keyup.enter)="onCardClick($event)"
  tabindex="0"
>
  <div class="note-list-card__header">
    <h3>{{ group.title }}</h3>

    <button
      mat-icon-button
      data-test="menu-button-toggle"
      type="button"
      [matMenuTriggerFor]="menu"
      aria-label="more options"
      tabindex="0"
      (click)="stopPropagation($event)"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        data-test="menu-option-toggle-remove"
        type="button"
        (click)="toggleRemoveGroup($event)"
        (keypress.enter)="toggleRemoveGroup($event)"
        tabindex="0"
      >
        <mat-icon>done</mat-icon> <span>Mark as done</span>
      </button>
    </mat-menu>
  </div>

  <hr />

  <div data-test="chip-container" class="chip-container">
    @for (note of group.notes; track note.id) {
    <mat-chip
      [attr.data-test]="'note-chip-element' + note.id"
      class="chip"
      [class.do-not-grow]="group.notes.length < 3"
    >
      {{ note.value }}
    </mat-chip>
    }
  </div>
</div>
