<main>
  <section
    #viewContainer
    aria-label="you can edit your notes here"
    class="note-edit"
  >
    <div class="form-wrapper">
      <app-note-list-form
        #form
        environment="note-edit"
        [noteListTitle]="(noteGroup$ | async)?.title || ''"
        [notes]="groupNotes$ | async"
        (createNote)="onCreateNote($event)"
        (editNote)="onEditNote($event)"
        (removeNote)="onRemoveNote($event)"
      />
    </div>

    <div class="note-edit__actions">
      <app-button
        ripple
        [styleConfiguration]="{ look: 'extended-fab', color: 'primary-less' }"
        (clicked)="closeEditor('close')"
      >
        <ng-template #content>
          <div class="note-edit__action-button">
            <mat-icon>cancel</mat-icon> Close
          </div>
        </ng-template>
      </app-button>

      <app-button
        ripple
        [styleConfiguration]="{ look: 'extended-fab', color: 'primary' }"
        (clicked)="closeEditor('save')"
      >
        <ng-template #content>
          <div class="note-edit__action-button">
            <mat-icon>save</mat-icon> Save
          </div>
        </ng-template>
      </app-button>
    </div>
  </section>
</main>
