<main #mainTagRef>
  <section class="container">
    <div class="go-back-button-wrapper">
      <app-previous-page-button
        class="go-back-button"
        (clicked)="
          viewTransitionService.goBack(
            viewContainer,
            '/getting-started/choose-path'
          )
        "
      />
    </div>
    <div #viewContainer class="content">
      <div class="form-wrapper" aria-label="The local account form">
        <h1 class="form__header">Create a local account</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="localUserForm" class="form">
          <fieldset class="form-element">
            <label>
              <p class="form-label">Name</p>
              <input type="text" formControlName="name" />
            </label>
            @if (getError('name', 'required') &&
            localUserForm.get('name')?.touched) {
            <p class="input-error">This field is required!</p>
            } @if (getError('name', 'includesSpecialChars')) {
            <p class="input-error">
              Your name can't include special characters
            </p>
            } @if (getError('name', 'includesNumbers')) {
            <p class="input-error">Your name can't include numbers</p>
            } @if (getError('name', 'minlength')) {
            <p class="input-error">Your name is too short</p>
            } @if (getError('name', 'maxlength')) {
            <p class="input-error">Your name is too long</p>
            }
          </fieldset>
          <fieldset class="form-element">
            <h2 class="auth-header">Type of authentication</h2>
            <mat-radio-group
              class="radio-options"
              aria-label="Select the authentication method"
            >
              <mat-radio-button
                [checked]="!isPasswordSelected"
                (input)="isPasswordSelected = true; toggleAuthMethod()"
                color="primary"
              >
                Password
              </mat-radio-button>
              <mat-radio-button
                [checked]="!isPasswordSelected"
                (input)="isPasswordSelected = false; toggleAuthMethod()"
                color="primary"
              >
                PIN
              </mat-radio-button>
            </mat-radio-group>
          </fieldset>
          @if (isPasswordSelected) {
          <ng-container formGroupName="passwordGroup">
            <fieldset class="form-element">
              <label>
                <p class="form-label">Create your Password</p>
                <input type="password" formControlName="password" />
              </label>
              @if ( getError(['passwordGroup', 'password'], 'required') &&
              localUserForm.get(['passwordGroup', 'password'])?.touched) {
              <p class="input-error">This field is required!</p>
              } @if ( getError(['passwordGroup', 'password'], 'passwordError')
              && localUserForm.get(['passwordGroup', 'password'])?.dirty) {
              <p class="input-error">
                The password must have 8 characters, numbers, and special
                characters
              </p>
              }
            </fieldset>
            <fieldset class="form-element">
              <label>
                <p class="form-label">Confirm your Password</p>
                <input type="password" formControlName="confirmPassword" />
              </label>
              @if ( getError(['passwordGroup', 'confirmPassword'], 'required')
              && localUserForm.get(['passwordGroup', 'confirmPassword'])
              ?.touched) {
              <p class="input-error">This field is required!</p>
              } @if ( getError( ['passwordGroup', 'confirmPassword'],
              'passwordMatch' ) && localUserForm.get(['passwordGroup',
              'confirmPassword'])?.dirty) {

              <p class="input-error">The passwords are not the same</p>
              }
            </fieldset>
          </ng-container>
          } @else {
          <ng-template formGroupName="pinGroup">
            <fieldset class="form-element">
              <label>
                <p class="form-label">Create your PIN</p>
                <input
                  type="password"
                  inputmode="numeric"
                  formControlName="pin"
                />
              </label>
              @if ( getError(['pinGroup', 'pin'], 'required') &&
              localUserForm.get(['pinGroup', 'pin'])?.touched) {
              <p class="input-error">This field is required!</p>
              } @if ( getError(['pinGroup', 'pin'], 'pinError') &&
              localUserForm.get(['pinGroup', 'pin'])?.dirty) {
              <p class="input-error">Invalid PIN. Use from 4 to 8 digits.</p>
              }
            </fieldset>
            <fieldset class="form-element">
              <label>
                <p class="form-label">Confirm your PIN</p>
                <input
                  type="password"
                  inputmode="numeric"
                  formControlName="confirmPin"
                />
              </label>
              @if ( getError(['pinGroup', 'confirmPin'], 'required') &&
              localUserForm.get(['pinGroup', 'confirmPin'])?.touched) {
              <p class="input-error">This field is required!</p>
              } @if ( getError(['pinGroup', 'confirmPin'], 'unmatchedPins') &&
              localUserForm.get(['pinGroup', 'confirmPin'])?.dirty) {
              <p class="input-error">Your PINs are not the same</p>
              }
            </fieldset>
          </ng-template>
          }

          <fieldset class="form-element">
            <mat-checkbox formControlName="rememberMe"
              >Remember Me</mat-checkbox
            >
          </fieldset>

          <button type="submit" class="submit-button" appCustomMatRipple>
            Join Now
          </button>
          @if (localUserForm.hasError('invalidForm')) {
          <p class="input-error">Check the inputs above</p>
          }
        </form>
      </div>
    </div>
  </section>
</main>
