@if (filteredNoteGroups$ | async; as filteredNoteGroups) {
<div
  #container
  class="noteList-list"
  [class.empty]="filteredNoteGroups === null || !filteredNoteGroups.length"
>
  <!--  -->
  @if (filteredNoteGroups.length) {
  <ngx-masonry
    data-test="note-groups-container"
    class="noteList-list__grid"
    [ordered]="true"
    [options]="{
      resize: true,
      gutter: 25,
      fitWidth: true,
      horizontalOrder: true
    }"
  >
    @for (noteGroup of filteredNoteGroups; track noteGroup.id) {
    <div
      data-test="note-group-list-item"
      class="noteList-list__element-wrapper"
      ngxMasonryItem
    >
      <app-notes-list-group-element
        [attr.data-test]="'note-group-list-item-' + noteGroup.id"
        [groupName]="noteGroup.title"
        [groupValue]="noteGroup"
        [done]="!!noteGroup.deleteAt"
        (cardClick)="handleClick(noteGroup.id)"
        (toggleRemove)="handleGroupMarkForDelete(noteGroup.id, $event)"
      />
      <div class="noteList-list__space-between"></div>
    </div>
    }
  </ngx-masonry>
  } @else {
  <div data-test="no-groups">
    <ng-container *ngTemplateOutlet="noGroupsFound"></ng-container>
  </div>
  }
  <!--  -->
</div>
} @else {
<div data-test="nothing-emitted">
  <ng-container *ngTemplateOutlet="noGroupsFound"></ng-container>
</div>
}
