@if (data$ | async; as data) {
<div
  #overlay
  data-test="sheet-overlay"
  class="overlay"
  [ngClass]="{
    'do-not-animate': data.noAnimation,
    visible: data.isOpened
  }"
  [ariaHidden]="!data.isOpened"
  (click)="close()"
  (keyup.enter)="close()"
  tabindex="0"
></div>

<div
  #sheet
  class="bottom-sheet"
  [ngClass]="{
    'do-not-animate': data.noAnimation,
    open: data.isOpened,
    drag: data.isDragging
  }"
  [ariaHidden]="!data.isOpened"
>
  <div class="drag-icon" (pointerdown)="startDragging($event)">
    <span></span>
  </div>

  <div class="content">
    <ng-container *ngTemplateOutlet="content || defaultContent"></ng-container>
  </div>

  <ng-template #defaultContent>
    <h2>There is nothing to be shown 😢</h2>
  </ng-template>
</div>

}
