@use "src/scss/utils.scss" as *;
@use "src/scss/components.scss" as *;
@use "src/scss/viewport.scss" as view;

.form-wrapper {
  background-color: var(--color-accent-100);
  color: var(--contrast-color-accent-100);
  padding: free-space("md");
  @include border-radius("md");
  @include inset-box-shadow(var(--color-accent-50));
  overflow: hidden;
  display: grid;
  justify-content: stretch;
  align-items: end;
  margin: {
    right: auto;
    left: auto;
  }
  row-gap: 1.5vmax;
}

h1 {
  text-align: center;
  font-size: clamp(var(--h2), 3.5vmax, var(--h1));
}

a {
  text-decoration: none;
  color: var(--color-primary-300);
}

form {
  display: grid;
  justify-content: stretch;
  row-gap: max(0.3rem, 1.15vh);
  width: min(100%, 420px);
  margin: {
    left: auto;
    right: auto;
  }
}

.form-element {
  display: grid;
  min-height: 4.75rem;
  align-content: space-evenly;
  border: none;
}

input {
  @extend %input-default;
}

input.valid {
  box-shadow: none;
}

.form-label,
.input-error {
  font-size: var(--form-input);
}

.form-label {
  color: inherit;
  font-size: var(--p);
  line-height: 135%;
}

.submit-button {
  @extend %common-button, %common-button-transitions, %primary-button-1;
  font-weight: 600;
  justify-self: end;
  display: grid;
  place-content: center;

  &.sending {
    --size: clamp(var(--h3), 7vmax, 3rem);
    min-width: calc(var(--size) * 2);
    min-height: var(--size);
  }
}

.input-error {
  text-align: center;
  color: var(--color-warn-input);
  min-height: 0.9rem;
}

.sending-spinner {
  --size: clamp(var(--h3), 4vmax, var(--h2));
  width: calc(var(--size) * 2) !important;
  height: var(--size) !important;
}
