<section>
  <h1>Welcome back on board!</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="form-element">
      <label for="email"> Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        autocomplete="email"
      />
      <p class="input-error">
        {{ getError("email", "emailError") ? "This is not an email" : " " }}
      </p>
    </div>

    <div class="form-element">
      <label for="password"> Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        autocomplete="current-password"
      />
      <p class="input-error">
        {{ getError("password", "pattern") ? "Your password is to easy" : " " }}
      </p>
    </div>

    <p class="input-error" *ngIf="wrongEmailOrPassword">
      The password you entered is incorrect. Try again
    </p>
    <p class="input-error" *ngIf="emailDoesNotExist">
      The email you entered does not belong to any account.
    </p>

    <button type="submit" class="submit-button" appCustomMatRipple>
      Log in
    </button>
  </form>
</section>
