<main>
  <img
    src="../../../assets/getting-started/intro1.webp"
    alt="A group of daily products (banana, chocolate, nuts and coffee)"
  />
  <section class="greeting" #container>
    <h1 class="greeting__header fade-out-animation">Hello dear Shopper!</h1>
    <div class="greeting__par-container fade-out-animation">
      <p class="greeting__par fade-out-animation">
        Welcome to Memo-licious, the app that helps you keep track of your
        shopping lists 🛒
      </p>
      <p class="greeting__par fade-out-animation">
        Whether you're planning a big event, a weekly grocery run, or a
        spontaneous splurge, Memo-licious has you covered. 🙌
      </p>
    </div>

    <a
      class="greeting__CTA fade-out-animation"
      (click)="runTransition()"
      appCustomMatRipple
    >
      Let's dive in!
    </a>
  </section>
</main>
