@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/app/reusable/animations/animations.scss' as anim;
@use './themes.scss' as theme;
@use './utils.scss' as util;
@use './typography.scss';
@use './viewport.scss';

@include mat.core();

@include mat.core-theme(theme.$light-theme);
// @include mat.strong-focus-indicators();
@include mat.toolbar-theme(theme.$light-theme);
@include mat.sidenav-theme(theme.$light-theme);
@include mat.dialog-theme(theme.$light-theme);
@include mat.button-theme(theme.$light-theme);
@include mat.menu-theme(theme.$light-theme);
@include mat.slide-toggle-theme(theme.$light-theme);
@include mat.checkbox-theme(theme.$light-theme);
@include mat.select-theme(theme.$light-theme);
@include mat.snack-bar-theme(theme.$light-theme);
@include mat.radio-theme(theme.$light-theme);
@include mat.input-theme(theme.$light-theme);
@include mat.chips-theme(theme.$light-theme);
@include mat.form-field-theme(theme.$light-theme);
@include mat.progress-spinner-theme(theme.$progress-spinner-light-theme);

// Default theme
.light {
  @include theme.createCSSVars('light');
  color-scheme: light;

  /* Warn colors */
  --color-warn-primary: var(--color-warn-400);
  --contrast-color-warn: #000000de;
  --color-warn-accent: var(--color-warn-200);
  --color-warn-input: var(--color-warn-900);
}

.dark {
  @include mat.core-color(theme.$dark-theme);
  // @include mat.strong-focus-indicators-theme(theme.$dark-theme);
  @include mat.toolbar-color(theme.$dark-theme);
  @include mat.sidenav-color(theme.$dark-theme);
  @include mat.dialog-color(theme.$dark-theme);
  @include mat.button-color(theme.$dark-theme);
  @include mat.menu-color(theme.$dark-theme);
  @include mat.slide-toggle-color(theme.$dark-theme);
  @include mat.checkbox-color(theme.$dark-theme);
  @include mat.select-color(theme.$dark-theme);
  @include mat.snack-bar-color(theme.$dark-theme);
  @include mat.radio-color(theme.$dark-theme);
  @include mat.input-color(theme.$dark-theme);
  @include mat.chips-color(theme.$dark-theme);
  @include mat.form-field-color(theme.$dark-theme);
  @include mat.progress-spinner-color(theme.$progress-spinner-dark-theme);

  @include theme.createCSSVars('dark');
  color-scheme: dark;

  /* Warn colors */
  --color-warn-primary: var(--color-warn-700);
  --contrast-color-warn: #ffffffde;
  --color-warn-accent: #4c2424;
  --color-warn-input: var(--color-warn-200);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  background-color: var(--color-accent-50);
  color: var(--contrast-color-accent-50);
}

html {
  scroll-behavior: smooth;
}

main {
  @extend %mainframe;
  background-color: var(--color-accent-50);
  color: var(--contrast-color-accent-50);
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.5);

  .dark & {
    outline-color: rgba(255, 255, 255, 0.5);
  }
}
