<div class="form-wrapper" aria-label="The register form for a new user">
  <h1>Start the journey by creating account</h1>

  <form
    (ngSubmit)="onSubmit(); registerForm.valid && (sending = true)"
    [formGroup]="registerForm"
  >
    <fieldset class="form-element">
      <label>
        <p class="form-label">Name:</p>
        <input
          type="text"
          formControlName="name"
          autocomplete="name"
          [class.valid]="registerForm.get('name')?.valid"
        />
      </label>
      <p class="input-error">
        {{
          getError("name", "minlength")
            ? "Too short name"
            : getError("name", "maxlength")
            ? "Too long name"
            : getError("name", "includesSpecialChars")
            ? "Special characters are not allowed here"
            : " "
        }}
      </p>
    </fieldset>

    <fieldset class="form-element">
      <label>
        <p class="form-label">Email:</p>
        <input
          type="email"
          formControlName="email"
          autocomplete="email"
          [class.valid]="registerForm.get('email')?.valid"
        />
      </label>
      <p class="input-error">
        {{ getError("email", "emailError") ? "This is not an email" : " " }}
      </p>
    </fieldset>

    <fieldset class="form-element">
      <label>
        <p class="form-label">Password:</p>
        <input
          type="password"
          formControlName="password"
          autocomplete="new-password"
          [class.valid]="registerForm.get('password')?.valid"
        />
      </label>
      <p class="input-error">
        {{
          getError("password", "passwordError")
            ? "The password must have 8 characters, numbers, and special characters"
            : " "
        }}
      </p>
    </fieldset>

    <fieldset class="form-element">
      <label>
        <p class="form-label">Confirm Password:</p>
        <input
          type="password"
          formControlName="confirmPassword"
          autocomplete="new-password"
          [class.valid]="registerForm.get('confirmPassword')?.valid"
        />
      </label>
      <p class="input-error">
        {{
          getError("confirmPassword", "passwordMatch") &&
          (registerForm.get("confirmPassword")?.touched ||
            registerForm.get("confirmPassword")?.dirty)
            ? "The passwords are not the same"
            : " "
        }}
      </p>
    </fieldset>

    <fieldset class="form-element">
      <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
    </fieldset>

    <button
      type="submit"
      class="submit-button"
      appCustomMatRipple
      [appMatSpinnerToggler]="registerForm.valid && !emailAlreadyInUse"
    >
      @if (sending && !emailAlreadyInUse) {
      <mat-spinner class="sending-spinner"></mat-spinner>
      } @else { Register }
    </button>
    <p class="input-error">
      {{
        registerForm.hasError("checkInputs")
          ? "Check the inputs above"
          : emailAlreadyInUse
          ? "The email is already in use"
          : " "
      }}
    </p>
  </form>
</div>
