<main #container>
  <img
    class="background-image | fadeIn-vol-2-animation"
    src="../../../assets/getting-started/Whiteboard-List-Shoper.webp"
    alt="background photo of a note"
  />

  <app-shopping-three
    class="shopping-svg | fadeIn-vol-2-animation"
    [svgHeight]="svgSize"
    [svgWidth]="svgSize"
    primaryColor="#e49c31"
  ></app-shopping-three>

  <section class="container | fadeIn-vol-2-animation">
    <h1 class="h1">Choose your path</h1>
    <p class="container__par">
      How do you want to use Shopping List Notes? You can either continue as a
      guest or create an account to share passwords with your other devices.
    </p>

    <div class="container__offline">
      <a class="CTA" appCustomMatRipple (click)="runTransition('register')"
        >Continue as Guest</a
      >
    </div>

    <div class="container__online">
      <a
        class="CTA--alternative"
        appCustomMatRipple
        (click)="runTransition('login')"
        >Continue Online</a
      >
    </div>
  </section>
</main>
