<h2 mat-dialog-title>Notes editor</h2>

<mat-dialog-content #content>
  @if (data$ | async; as data) {
  <app-note-list-form
    #form
    environment="note-edit"
    [noteListTitle]="data.noteGroup.title"
    [notes]="data.groupNotes"
    (createNote)="onCreateNote($event)"
    (editNote)="onEditNote($event)"
    (removeNote)="onRemoveNote($event)"
  />
  }
</mat-dialog-content>

<mat-dialog-actions class="note-edit__actions">
  <button
    type="button"
    class="note-edit__action-button"
    (click)="closeDialog('close')"
    data-test="dialog-action-button-close"
    appAdaptiveButton
    look="extended-fab"
    color="primary-less"
  >
    <mat-icon>cancel</mat-icon> Close
  </button>

  <button
    type="button"
    class="note-edit__action-button"
    (click)="closeDialog('save')"
    data-test="dialog-action-button-save"
    appAdaptiveButton
    look="extended-fab"
    color="primary"
  >
    <mat-icon>save</mat-icon> Save
  </button>
</mat-dialog-actions>
