<h2 mat-dialog-title>Notes editor</h2>

<mat-dialog-content #content>
  <app-note-list-form
    #form
    environment="note-edit"
    [noteListTitle]="(noteGroup$ | async)?.title || ''"
    [notes]="groupNotes$ | async"
    (createNote)="onCreateNote($event)"
    (editNote)="onEditNote($event)"
    (removeNote)="onRemoveNote($event)"
  />
</mat-dialog-content>

<mat-dialog-actions class="note-edit__actions">
  <app-button
    ripple
    [styleConfiguration]="{ look: 'extended-fab', color: 'primary-less' }"
    (clicked)="closeDialog('close')"
  >
    <ng-template #content>
      <div class="note-edit__action-button">
        <mat-icon>cancel</mat-icon> Close
      </div>
    </ng-template>
  </app-button>

  <app-button
    ripple
    [styleConfiguration]="{ look: 'extended-fab', color: 'primary' }"
    (clicked)="closeDialog('save')"
  >
    <ng-template #content>
      <div class="note-edit__action-button"><mat-icon>save</mat-icon> Save</div>
    </ng-template>
  </app-button>
</mat-dialog-actions>
