@use "src/scss/utils.scss" as *;
@use "src/scss/components.scss" as *;

main,
.content,
.result {
  display: grid;
  place-items: center;
}

main {
  text-align: center;
  padding-bottom: 25px;
}

.container {
  width: var(--dynamic-width);
  margin: {
    right: auto;
    left: auto;
  }
}

.go-back-button {
  &-wrapper {
    padding: free-space("xs") 0;
  }
}

.content {
  padding: free-space("sm");
  @include border-radius("md");
  background-color: var(--color-accent-100);
  color: var(--contrast-color-accent-100);

  &__header {
    margin: free-space("sm") 0;
  }
}

.progress-spinner {
  --size: max(var(--h1) * 1.5, 7.5vmin);
  width: var(--size) !important;
  height: var(--size) !important;
}

.result {
  gap: free-space("sm");

  &__header {
    margin: free-space("xs") 0;
    font-weight: 500;
  }
}

.button {
  &-success,
  &-failure {
    @extend %common-button;
    font-weight: 600;
  }

  &-success {
    @extend %primary-button;
  }

  &-failure {
    @extend %error-button;
  }
}
