<main>
  <section class="container">
    <div class="go-back-button-wrapper">
      <app-previous-page-button
        class="go-back-button"
        (clicked)="viewTransitionService.goBack(content, '/online')"
      />
    </div>
    <div #content class="content">
      <h1 class="content__header">Email Verification</h1>
      <div
        aria-label="Summary of whether the email was sent or an error occurred during this action."
      >
        @switch (sendingState$ | async) { @case ('sending') {
        <div data-test="sending-state">
          <mat-spinner class="progress-spinner"></mat-spinner>
        </div>
        } @case ('success') {
        <div class="result" data-test="success-state">
          <app-completion-one
            svgPrimaryColor="var(--color-primary-500)"
            [svgMinMaxWidth]="[200, 300]"
          />
          <h2 class="result__header">Hurray! 🥳</h2>
          <p>
            You've got mail, but not the spammy kind. We've sent a link to
            {{ userEmail }} to verify your email address.
          </p>
          <p>
            Click on it and you'll be all set to enjoy our service without any
            fret 😊
          </p>
          <button
            type="button"
            class="button-success"
            appCustomMatRipple
            (click)="
              viewTransitionService.goForward(content, '/online/force=login')
            "
          >
            Get me to login
          </button>
        </div>
        } @case ('failure') {
        <div class="result" data-test="failure-state">
          <h2 class="result__header">Oh no! We've crushed 😬</h2>
          <p>
            Please click the button below to get us back on track
            <app-bullet-train-emoji />
          </p>

          @if (!userEmail) {
          <p data-test="userEmailEmpty">There is no email provided!</p>
          }

          <button
            type="button"
            class="button-failure"
            (click)="sendEmail()"
            (keyup.enter)="sendEmail()"
          >
            Try again
          </button>
        </div>
        } @default {
        <div>Unknown error</div>
        } }
      </div>
    </div>
  </section>
</main>
